@media only screen and (max-width: 1024px)  {
    a.click-ajax {
        display: table;
        margin: 0 auto;
    }
    .bg-body {
        margin: 0 10px;
    }
   .hide-mobile{
        display:none !important;
    }
    ul#menu-main-menu {
        float: left;
        padding-left: 0;
        width: 100%;
        margin-top: 20px;
    }
     ul#menu-main-menu li {
        float: left;
        list-style: none;
        width: 32%;
        text-align: center;
        font-size: 14px;
        background-color: #75818c;
        padding: 21px 0;
        border-bottom: 5px solid #8ea3b4;
        border-right: 5px solid #8ea3b4;
    }
    li#menu-item-24,
    ul#menu-main-menu li:last-child{
        border-right: 4px solid #75828c !important;
        /* width: 32% !important; */
    }
        .wrap-content-mobile{
         margin-top: 10px;
         padding-left: 0;
         display:block;
    }
    ul.hide-desktop li {
        margin-bottom: 35px;
    }
    li.block-content h2 {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 44px;
        background-color: #577084;
        color: #a5d0d2;
        padding: 8px 10px;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'AvantGarde-CondBold';
    }
    .content-mobile{
        clear: both;
        text-align: center;
        padding: 15px 15px 35px;
        color: #fff;
        background-color: #577084;
        margin: 0 20px;
        border-radius: 20px;
        line-height: 22px;
        font-size: 18px;
        font-family: 'DIN-Medium';
    }
    .hide{
        display: none;
    }
    .hide-desktop{
        display: block;
    }
    footer {
        text-align: center;
    }
    .wrap-social-mobile {
        margin-bottom: 30px;
    }
    .copy-right {
        margin: 0 100px;
        color: #525153;
        font-family: 'DIN-Medium';
        line-height: 24px;
        font-size: 18px;
    }
    .wrap-social-mobile a.fb {
        display: inline-block;
        margin-right: 50px;
    }
    .wrap-title h2:before{
        display:none;
    }
    .wrap-container {
        overflow-x: hidden;
    }
}
@media only screen and (min-width:900px) and (max-width: 1024px)  {

    .container {
        width: 100%;
        margin: 0 auto;
        display: table;
        width: 901px;
    }
    .bg-body {
        position: relative;
        height: 936px;
        margin: 0 20px;
    }
    div#the_content_53 {
        position: relative;
        top: 280px;
        left: 37px;
    }
    div#the_content_51 {
        position: relative;
        top: 412px;
        left: 372px;
    }
    div#the_content_49 {
        position: relative;
        top: 305px;
        left: 377px;
    }
    div#the_content_47 {
        position: relative;
        top: 297px;
        left: 550px;
    }
    div#the_content_26 {
        position: relative;
        top: 55px;
        left: 198px;
    }
    div.wrap-title h2 {
        font-size: 13px;
        margin: 0;
        color: #1d262a;
        text-align: center;
        padding: 3px 3px;
        border-radius: 3px;
        max-width: 109px;
        font-family: 'CaptureSmallz';
        font-weight: normal;
    }

    .left-marque {
        padding-left: 112px;
        height: 35px;
        background-repeat: no-repeat;
        font-family: 'ozoneregular';
        background-size: 17%;
    }
    .right-marque {
        padding-right: 93px;
        height: 33px;
        background-size: 19%;
    }
    .ct-marque {
        overflow: hidden;
        max-width: 560px;
        margin-right: 0;
    }
    .ct-marque {
        height: 25px;
        background-repeat: repeat-x;
        background-size: 6%;
    
        font-size: 18px;
        padding: 5px;
}
    .m1 {
        width: 250px;
        margin-top: 37%;
        height: 143px;
        /* background-image: url(images-css/art1.png); */
        position: relative;
        margin-left: 2%;
        -webkit-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        -moz-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
    }
    .m1:before {
        content: '';
        width: 22px;
        height: 332px;
        position: absolute;
        bottom: 96%;
        right: 2%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .m1:after {
        content: '';
        width: 17px;
        height: 320px;
        position: absolute;
        bottom: 103%;
        right: -3%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        /* height: 254px; */
    }
    .column-1:before {
        width: 22px;
        height: 359px;
        bottom: 96%;
        left: 4%;
        background-size: 100%;
        background-position: bottom;
    
        background-repeat: no-repeat;
}
    .column-1:after {
        width: 22px;
        height: 359px;
        bottom: 103%;
        left: 9%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .m1 img {
        width: 100%;
    }
    .bird-right-left {
        position: absolute;
        top: 42px;
        right: 55px;
    }
    .bird {
        width: 130px;
        height: 95px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 0px;
        left: -8px;
        background-size: 100%;
    }
    .m2 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        float: left;
        width: 140px;
        -webkit-box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
        -moz-box-shadow:10px -7px 4px -3px rgba(136,136,136,0.75);
        box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
    }
    .m2:before {
        width: 22px;
        height: 372px;
        right: 11%;
        height: 223px;
        position: absolute;
        bottom: 99%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2:after {
        width: 23px;
        height: 218px;
        bottom: 100%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-2 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
    }
    .column-2:before {
        width: 18px;
        height: 225px;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }   
    .column-2:after {
        width: 26px;
        height: 229px;
        bottom: 99%;
        left: 14%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 img {
        width: 100%;
    }
    .m3 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        /* width: 180px; */
    }
    .m3:before {
        width: 22px;
        height: 207px;
        bottom: 99%;
        right: 10%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m3:after {
        width: 30px;
        height: 208px;
        position: absolute;
        bottom: 99%;
        right: -1%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:before {
        width: 22px;
        height: 205px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:after {
        width: 29px;
        height: 212px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while {
        padding: 1px 2px;
        min-height: 328px !important;
    
        width: 160px;
}
    .m3 img {
        width: 85%;
    }
    .m4 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
    }
    .m4:before {
        width: 23px;
        height: 207px;
        position: absolute;
        bottom: 99%;
        right: 11%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m4:after {
        width: 26px;
        height: 211px;
        position: absolute;
        bottom: 98%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:before {
        width: 22px;
        height: 206px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:after {
        width: 27px;
        height: 198px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while.list-left li {
        float: left;
        margin: 0 7px 4px;
        width: 40%;
    }
    .m4 img {
        width: 100%;
    }
    .hide-desktop{
        display: block
    }

}
@media only screen and (min-width:768px) and (max-width: 900px)  {
    ul#menu-main-menu li{
        width: 33%;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        display: table;
        width: 752px;
    }
    .bg-body {
        position: relative;
        height: 936px;
        margin: 0 20px;
    }
    div#the_content_53 {
        position: relative;
        top: 232px;
        left: 37px;
    }
    div#the_content_51 {
        position: relative;
        top: 348px;
        left: 330px;
    }
    div#the_content_49 {
        position: relative;
        top: 263px;
        left: 330px;
    }
    div#the_content_47 {
        position: relative;
        top: 260px;
        left: 455px;
    }
    div#the_content_26 {
        position: relative;
        top: 55px;
        left: 198px;
    }
    div.wrap-title h2 {
        font-size: 8px;
        margin: 0;
        color: #1d262a;
        text-align: center;
        padding: 3px 3px;
        border-radius: 3px;
        max-width: 75px;
        font-family: 'CaptureSmallz';
        font-weight: normal;
    }

    .left-marque {
        padding-left: 112px;
        height: 33px;
        background-repeat: no-repeat;
        font-family: 'ozoneregular';
        background-size: 19%;
    }
    .right-marque {
        padding-right: 93px;
        height: 32px;
        background-size: 22%;
    }
    .ct-marque {
        overflow: hidden;
        max-width: 453px;
        margin-right: 0;
    }
    .ct-marque {
        height: 34px;
        background-repeat: repeat-x;
        background-size: 7%;
    
        font-size: 15px;
        padding: 5px;
    }
    .m1 {
        width: 210px;
        margin-top: 40%;
        height: 143px;
        /* background-image: url(images-css/art1.png); */
        position: relative;
        margin-left: 2%;
        -webkit-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        -moz-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
    }
    .m1:before {
        content: '';
        width: 18px;
        height: 298px;
        position: absolute;
        bottom: 96%;
        right: 2%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .m1:after {
        content: '';
        width: 17px;
        height: 294px;
        position: absolute;
        bottom: 103%;
        right: -3%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        /* height: 254px; */
    }
    .column-1:before {
        width: 18px;
        height: 297px;
        bottom: 96%;
        left: 4%;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1:after {
        width: 18px;
        height: 300px;
        bottom: 103%;
        left: 9%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .m1 img {
        width: 100%;
    }
    .bird-right-left {
        position: absolute;
        top: 42px;
        right: 55px;
    }
    .bird {
        width: 100px;
        height: 85px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: -12px;
        left: 13px;
        background-size: 100%;
    }
    .m2 {
        margin-top: 30%;
        position: relative;
        margin-left: 3%;
        float: left;
        width: 115px;
        -webkit-box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
        -moz-box-shadow:10px -7px 4px -3px rgba(136,136,136,0.75);
        box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
    }
    .m2:before {
        width: 18px;
        height: 356px;
        right: 11%;
        height: 223px;
        position: absolute;
        bottom: 99%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2:after {
        width: 18px;
        height: 261px;
        bottom: 100%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-2 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
    }
    .column-2:before {
        width: 18px;
        height: 223px;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }   
    .column-2:after {
        width: 18px;
        height: 223px;
        bottom: 99%;
        left: 14%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 img {
        width: 100%;
    }
    .m3 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        /* width: 140px; */
    }
    .m3:before {
        width: 18px;
        height: 184px;
        bottom: 99%;
        right: 10%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m3:after {
        width: 18px;
        height: 139px;
        position: absolute;
        bottom: 99%;
        right: -1%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:before {
        width: 18px;
        height: 185px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:after {
        width: 18px;
        height: 150px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while {
        padding: 1px 2px;
        min-height: 280px !important;
    
        width: 127px;
}
    .m3 img {
        width: 85%;
    }
    .m4 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
    }
    .m4:before {
        width: 18px;
        height: 194px;
        position: absolute;
        bottom: 99%;
        right: 11%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m4:after {
        width: 26px;
        height: 200px;
        position: absolute;
        bottom: 98%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:before {
        width: 18px;
        height: 193px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:after {
        width: 18px;
        height: 181px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while.list-left li {
        float: left;
        margin: 0 7px 4px;
        width: 38%;
    }
    .m4 img {
        width: 100%;
    }
    .hide-desktop{
        display: block
    }

}
@media only screen and (min-width:600px) and (max-width: 768px){
    ul#menu-main-menu li {
        padding: 18px 0;
        width: 32%;
    }
    .bird {
        width: 90px;
        height: 85px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: -15px;
        left: 13px;
        background-size: 100%;
    }
    ul#menu-main-menu li a {
        font-size: 16px;
    }
    div#the_content_53 {
        top: 174px;
        left: 17px;
    }
    div#the_content_51 {
        top: 260px;
        left: 242px;
    }
    div#the_content_49 {
        top: 184px;
        left: 244px;
    }
    div#the_content_47 {
        top: 180px;
        left: 353px;
    }
    div#the_content_26 {
        top: 25px;
        left: 153px;
    }
    .container {
        display: table;
        width: 595px;
    }
    .button-start-engine {
        background-repeat: no-repeat;
        background-position: center;
        width: 225px;
        height: 260px;
        margin: 0 auto;
        background-size: 100%;
    }
    .creatives {
        width: 430px;
        height: 234px;
        background-repeat: no-repeat;
        background-position: top center;
        margin-top: -1%;
        position: relative;
        float: right;
        margin-right: -4%;
        background-size: 100%;
    }
    .smoke {
        width: 282px;
        height: 140px;
        position: absolute;
        left: 158px;
        bottom: 119px;
        background-size: 100%;
    }
    .description {
        font-size: 50px;
        font-family: 'AvantGardeLT-Book';
        color: #535353;
        font-weight: normal;
        margin-top: 2%;
        margin-Bottom: 1%;
        text-align: center;
        margin: 30px 35px 0;
    }
    div.wrap-title h2 {
        font-size: 9px;
        color: #1d262a;
        padding: 3px 1px;
        border-radius: 2px;
        max-width: 70px;
    }
    .copy-right {
        margin: 0 30px;
        line-height: 24px;
        font-size: 18px;
    }
   .left-marque {
        padding-left: 76px;
        height: 33px;
        background-repeat: no-repeat;
        font-family: 'ozoneregular';
        background-size: 22%;
    }
    .right-marque {
        padding-right: 76px;
        height: 27px;
        background-size: 24%;
        background-position: top right;
    }
    .ct-marque {
        overflow: hidden;
        max-width: 321px;
        margin-right: 0;
    }
    .ct-marque {
        height: 15px;
        background-repeat: repeat-x;
        background-size: 11%;
    
        font-size: 14px;
        padding: 7px 0 5px;
    }
    .m1 img{
        width: 100%;
    }
    .m1 {
        width: 160px;
        margin-top: 37%;
        height: 113px;
        /* background-image: url(images-css/art1.png); */
        position: relative;
        margin-left: 2%;
        -webkit-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        -moz-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
    }
    .m1:before {
        content: '';
        width: 18px;
        height: 224px;
        position: absolute;
        bottom: 96%;
        right: 2%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .m1:after {
        content: '';
        width: 17px;
        height: 215px;
        position: absolute;
        bottom: 103%;
        right: -3%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
        .column-1 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        /* height: 254px; */
    }
    .column-1:before {
        width: 18px;
        height: 224px;
        bottom: 96%;
        left: 4%;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1:after {
        width: 18px;
        height: 217px;
        bottom: 103%;
        left: 9%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        float: left;
        width: 91px;
        -webkit-box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
        -moz-box-shadow:10px -7px 4px -3px rgba(136,136,136,0.75);
        box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
    }
    .m2:before {
        width: 18px;
        height: 372px;
        right: 11%;
        height: 152px;
        position: absolute;
        bottom: 99%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2:after {
        width: 23px;
        height: 148px;
        bottom: 100%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-2 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
    }
    .column-2:before {
        width: 18px;
        height: 156px;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }   
    .column-2:after {
        width: 26px;
        height: 156px;
        bottom: 99%;
        left: 14%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 img {
        width: 100%;
    }
    .m3 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        /* width: 180px; */
    }
    .m3:before {
        width: 18px;
        height: 147px;
        bottom: 99%;
        right: 10%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m3:after {
        width: 30px;
        height: 146px;
        position: absolute;
        bottom: 99%;
        right: -1%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:before {
        width: 18px;
        height: 145px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:after {
        width: 21px;
        height: 150px;
        position: absolute;
        bottom: 99%;
        left: 11%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while {
        padding: 1px 2px;
        min-height: 215px !important;
    
        width: 94px;
}
    .m3 img {
        width: 85%;
    }
    .m4 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
    }
    .m4:before {
        width: 18px;
        height: 144px;
        position: absolute;
        bottom: 99%;
        right: 11%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m4:after {
        width: 18px;
        height: 148px;
        position: absolute;
        bottom: 98%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:before {
        width: 18px;
        height: 145px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:after {
        width: 20px;
        height: 151px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while.list-left li {
        float: left;
        margin: 0px 3px 4px;
        width: 43%;
    }
    .m4 img {
        width: 100%;
    }
    .hide-desktop{
        display: block
    }
}
@media only screen and (min-width:480px) and (max-width: 600px){
    ul#menu-main-menu li {
        padding: 18px 0;
    
        width: 32%;
}
    ul#menu-main-menu li a {
        font-size: 16px;
    }
    div#the_content_53 {
        top: 136px;
        left: 15px;
    }
    div#the_content_51 {
        top: 196px;
        left: 185px;
    }
    div#the_content_49 {
        top: 140px;
        left: 187px;
    }
    div#the_content_47 {
        top: 136px;
        left: 269px;
    }
    div#the_content_26 {
        top: 15px;
        left: 123px;
    }
    .container {
        display: table;
        width: 470px;
    }
    .button-start-engine {
        background-repeat: no-repeat;
        background-position: center;
        width: 225px;
        height: 260px;
        margin: 0 auto;
        background-size: 100%;
    }
    .creatives {
        width: 430px;
        height: 234px;
        background-repeat: no-repeat;
        background-position: top center;
        margin-top: -1%;
        position: relative;
        float: right;
        margin-right: -4%;
        background-size: 100%;
    }
    .smoke {
        width: 282px;
        height: 140px;
        position: absolute;
        left: 158px;
        bottom: 119px;
        background-size: 100%;
    }
    .description {
        font-size: 50px;
        font-family: 'AvantGardeLT-Book';
        color: #535353;
        font-weight: normal;
        margin-top: 2%;
        margin-Bottom: 1%;
        text-align: center;
        margin: 30px 35px 0;
    }
    div.wrap-title h2 {
        font-size: 7px;
        color: #1d262a;
        padding: 3px 1px;
        border-radius: 2px;
        max-width: 57px;
    }
    .copy-right {
        margin: 0 30px;
        line-height: 24px;
        font-size: 18px;
    }
    .left-marque {
        padding-left: 50px;
        height: 33px;
        background-repeat: no-repeat;
        font-family: 'ozoneregular';
        background-size: 16%;
    
        margin: 0 10px;
}
    .right-marque {
        padding-right: 50px;
        height: 27px;
        background-size: 17%;
        background-position: top right;
    }
    .ct-marque {
        overflow: hidden;
        max-width: 327px;
        margin-right: 0;
    }
    .ct-marque {
        height: 9px;
        background-repeat: repeat-x;
        background-size: 10%;
    
        font-size: 10px;
        padding: 3px 0 5px;
    }
    .bird{      
        
    width: 75px;          
    height: 58px;          background-repeat: no-repeat;          background-position: center;          position: relative;          
    top: -18px;          
    left: 23px;          background-size: 100%;
}
    .m1 img{
        width: 100%;
    }
    .m1 {
        width: 125px;
        margin-top: 37%;
        height: 93px;
        /* background-image: url(images-css/art1.png); */
        position: relative;
        margin-left: 2%;
        -webkit-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        -moz-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
    }
    .m1:before {
        content: '';
        width: 14px;
        height: 187px;
        position: absolute;
        bottom: 96%;
        right: 2%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .m1:after {
        content: '';
        width: 14px;
        height: 181px;
        position: absolute;
        bottom: 103%;
        right: -3%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
        .column-1 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        /* height: 254px; */
    }
    .column-1:before {
        width: 14px;
        height: 189px;
        bottom: 96%;
        left: 4%;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1:after {
        width: 14px;
        height: 216px;
        bottom: 103%;
        left: 9%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        float: left;
        width: 71px;
        -webkit-box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
        -moz-box-shadow:10px -7px 4px -3px rgba(136,136,136,0.75);
        box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
    }
    .m2:before {
        width: 14px;
        height: 372px;
        right: 11%;
        height: 131px;
        position: absolute;
        bottom: 99%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2:after {
        width: 23px;
        height: 148px;
        bottom: 100%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-2 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
    }
    .column-2:before {
        width: 14px;
        height: 133px;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }   
    .column-2:after {
        width: 26px;
        height: 156px;
        bottom: 99%;
        left: 14%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 img {
        width: 100%;
    }
    .m3 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        /* width: 180px; */
    }
    .m3:before {
        width: 14px;
        height: 125px;
        bottom: 99%;
        right: 10%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m3:after {
        width: 20px;
        height: 127px;
        position: absolute;
        bottom: 98%;
        right: -1%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:before {
        width: 14px;
        height: 125px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:after {
        width: 21px;
        height: 124px;
        position: absolute;
        bottom: 99%;
        left: 11%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while {
        padding: 1px 2px;
        min-height: 162px !important;
    
        width: 81px;
}
    .m3 img {
        width: 85%;
    }
    .m4 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
    }
    .m4:before {
        width: 14px;
        height: 128px;
        position: absolute;
        bottom: 99%;
        right: 11%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m4:after {
        width: 14px;
        height: 136px;
        position: absolute;
        bottom: 98%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:before {
        width: 14px;
        height: 126px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:after {
        width: 20px;
        height: 151px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while.list-left li {
        float: left;
        margin: 0px 2px 4px;
        width: 43%;
    }
    .m4 img {
        width: 100%;
    }
    .bg-color-while ul li{
        margin-bottom: -4px;
    }
}
@media only screen and (min-width:400px) and (max-width:480px){
    ul#menu-main-menu li {
        padding: 18px 0;
        width: 31%;
    }
    ul#menu-main-menu li {
        padding: 18px 0;
        width: 31%;
    }
    .container {
        margin: 0 auto;
        display: table;
        width: 385px;
    }
    .description {
        font-size: 37px;
        font-family: 'AvantGardeLT-Book';
        color: #535353;
        font-weight: normal;
        margin-top: 2%;
        margin-Bottom: 1%;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .button-start-engine {
        background-repeat: no-repeat;
        background-position: center;
        width: 165px;
        height: 200px;
        margin: 0 auto;
        background-size: 100%;
    }
    .creatives {
        width: 310px;
        height: 133px;
        background-repeat: no-repeat;
        background-position: top center;
        margin-top: -1%;
        position: relative;
        float: right;
        margin-right: -4%;
        background-size: 83%;
    }
    .smoke {
        width: 177px;
        height: 80px;
        position: absolute;
        left: 120px;
        bottom: 69px;
        background-size: 100%;
    }
    ul#menu-main-menu li a {
        font-family: 'AvantGardeLT-Book';
        font-size: 15px;
        color: #abd7d8;
        text-decoration: none;
    }
    div#the_content_53 {
        position: relative;
        top: 110px;
        left: 9px;
    }
    div#the_content_51 {
        position: relative;
        top: 156px;
        left: 138px;
    }
    div#the_content_49 {
        position: relative;
        top: 111px;
        left: 140px;
    }
    div#the_content_47 {
        position: relative;
        top: 105px;
        left: 221px;
    }
    div#the_content_26 {
        position: relative;
        top: 3px;
        left: 102px;
    }
    div.wrap-title h2 {
        font-size: 6px;
        padding: 3px 3px;
    }
    li.block-content h2 {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 44px;
        background-color: #577084;
        color: #a5d0d2;
        padding: 8px 10px;
        border-radius: 7px;
        font-size: 14px;
        font-family: 'AvantGarde-CondBold';
    }
    .content-mobile {
        clear: both;
        text-align: center;
        padding: 5px 4px 21px;
        color: #fff;
        background-color: #577084;
        margin: 0 20px;
        border-radius: 20px;
        line-height: 22px;
        font-size: 14px;
        font-family: 'DIN-Medium';
    }
    .wrap-social-mobile {
        margin-bottom: 30px;
    }
    .copy-right {
        margin: 0 10px;
        color: #525153;
        font-family: 'DIN-Medium';
        line-height: 24px;
        font-size: 18px;
    }
    div.wrap-title h2 {
        font-size: 6px;
        margin: 0;
        color: #1d262a;
        text-align: center;
        padding: 3px 3px;
        background-color: #ededed;
        border-radius: 2px;
        max-width: 44px;
        -webkit-box-shadow: 6px 6px 8px 0px rgba(111,122,130,1);
        -moz-box-shadow: 6px 6px 8px 0px rgba(111,122,130,1);
        box-shadow: 6px 6px 8px 0px rgba(111,122,130,1);
        font-family: 'CaptureSmallz';
        font-weight: normal;
    }
    .left-marque {
        padding-left: 50px;
        height: 15px;
        background-repeat: no-repeat;
        font-family: 'ozoneregular';
        background-size: 18%;
    }
    .right-marque {
        padding-right: 50px;
        height: 18px;
        background-size: 20%;
        background-position: top right;
    }
    .ct-marque {
        overflow: hidden;
        max-width: 237px;
        margin-right: 0;
    }
    .ct-marque {
        height: 8px;
        background-repeat: repeat-x;
        background-size: 7%;
    
        font-size: 7px;
        padding: 6px 0 5px;
    }
    .m1 img{
        width: 100%;
    }
    .m1 {
        width: 107px;
        margin-top: 42%;
        height: 77px;
        /* background-image: url(images-css/art1.png); */
        position: relative;
        margin-left: 2%;
        -webkit-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        -moz-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
    }
    .m1:before {
        content: '';
        width: 12px;
        height: 166px;
        position: absolute;
        bottom: 99%;
        right: 2%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .m1:after {
        content: '';
        width: 12px;
        height: 167px;
        position: absolute;
        bottom: 106%;
        right: -3%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
        .column-1 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        /* height: 254px; */
    }
    .column-1:before {
        width: 12px;
        height: 170px;
        bottom: 96%;
        left: 4%;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1:after {
        width: 12px;
        height: 166px;
        bottom: 103%;
        left: 9%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        float: left;
        width: 70px;
        -webkit-box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
        -moz-box-shadow:10px -7px 4px -3px rgba(136,136,136,0.75);
        box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
    }
    .m2:before {
        width: 12px;
        height: 372px;
        right: 11%;
        height: 103px;
        position: absolute;
        bottom: 99%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2:after {
        width: 13px;
        height: 105px;
        bottom: 100%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-2 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
    }
    .column-2:before {
        width: 12px;
        height: 101px;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }   
    .column-2:after {
        width: 12px;
        height: 103px;
        bottom: 99%;
        left: 14%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 img {
        width: 100%;
    }
    .m3 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        /* width: 180px; */
    }
    .m3:before {
        width: 14px;
        height: 94px;
        bottom: 99%;
        right: 10%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m3:after {
        width: 15px;
        height: 94px;
        position: absolute;
        bottom: 99%;
        right: -1%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:before {
        width: 12px;
        height: 99px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:after {
        width: 15px;
        height: 99px;
        position: absolute;
        bottom: 99%;
        left: 11%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while {
        padding: 1px 2px;
        min-height: 153px !important;
    
        width: 68px;
}
    .m3 img {
        width: 85%;
    }
    .m4 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
    }
    .m4:before {
        width: 12px;
        height: 96px;
        position: absolute;
        bottom: 99%;
        right: 11%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m4:after {
        width: 18px;
        height: 93px;
        position: absolute;
        bottom: 98%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:before {
        width: 14px;
        height: 94px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:after {
        width: 20px;
        height: 95px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while.list-left li {
        float: left;
        margin: 0px 2px 4px;
        width: 43%;
    }
    .m4 img {
        width: 100%;
    }
    .bird {
        width: 60px;
        height: 51px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: -29px;
        left: 26px;
        background-size: 100%;
    }
    .bg-color-while ul li {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width:400px){
    .container {
        margin: 0 auto;
        display: table;
        width: 400px;
    }
    .description {
        font-size: 37px;
        font-family: 'AvantGardeLT-Book';
        color: #535353;
        font-weight: normal;
        margin-top: 2%;
        margin-Bottom: 1%;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .button-start-engine {
        background-repeat: no-repeat;
        background-position: center;
        width: 165px;
        height: 200px;
        margin: 0 auto;
        background-size: 100%;
    }
    .creatives {
        width: 310px;
        height: 133px;
        background-repeat: no-repeat;
        background-position: top center;
        margin-top: -1%;
        position: relative;
        float: right;
        margin-right: -4%;
        background-size: 83%;
    }
    .smoke {
        width: 177px;
        height: 80px;
        position: absolute;
        left: 120px;
        bottom: 69px;
        background-size: 100%;
    }
    ul#menu-main-menu li a {
        font-family: 'AvantGardeLT-Book';
        font-size: 15px;
        color: #abd7d8;
        text-decoration: none;
    }
    div#the_content_53 {
        position: relative;
        top: 110px;
        left: 9px;
    }
    div#the_content_51 {
        position: relative;
        top: 156px;
        left: 138px;
    }
    div#the_content_49 {
        position: relative;
        top: 111px;
        left: 140px;
    }
    div#the_content_47 {
        position: relative;
        top: 105px;
        left: 221px;
    }
    div#the_content_26 {
        position: relative;
        top: 3px;
        left: 102px;
    }
    div.wrap-title h2 {
        font-size: 6px;
        padding: 3px 3px;
    }
    li.block-content h2 {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 44px;
        background-color: #577084;
        color: #a5d0d2;
        padding: 8px 10px;
        border-radius: 7px;
        font-size: 14px;
        font-family: 'AvantGarde-CondBold';
    }
    .content-mobile {
        clear: both;
        text-align: center;
        padding: 5px 4px 21px;
        color: #fff;
        background-color: #577084;
        margin: 0 20px;
        border-radius: 20px;
        line-height: 22px;
        font-size: 14px;
        font-family: 'DIN-Medium';
    }
    .wrap-social-mobile {
        margin-bottom: 30px;
    }
    .copy-right {
        margin: 0 10px;
        color: #525153;
        font-family: 'DIN-Medium';
        line-height: 24px;
        font-size: 18px;
    }
    div.wrap-title h2 {
        font-size: 6px;
        margin: 0;
        color: #1d262a;
        text-align: center;
        padding: 3px 3px;
        background-color: #ededed;
        border-radius: 2px;
        max-width: 44px;
        -webkit-box-shadow: 6px 6px 8px 0px rgba(111,122,130,1);
        -moz-box-shadow: 6px 6px 8px 0px rgba(111,122,130,1);
        box-shadow: 6px 6px 8px 0px rgba(111,122,130,1);
        font-family: 'CaptureSmallz';
        font-weight: normal;
    }
    .left-marque {
        padding-left: 76px;
        height: 33px;
        background-repeat: no-repeat;
        font-family: 'ozoneregular';
        background-size: 22%;
    }
    .right-marque {
        padding-right: 76px;
        height: 27px;
        background-size: 24%;
        background-position: top right;
    }
    .ct-marque {
        overflow: hidden;
        max-width: 321px;
        margin-right: 0;
    }
    .ct-marque {
        height: 15px;
        background-repeat: repeat-x;
        background-size: 11%;
    
        font-size: 14px;
        padding: 7px 0 5px;
    }
    .m1 img{
        width: 100%;
    }
    .m1 {
        width: 160px;
        margin-top: 37%;
        height: 113px;
        /* background-image: url(images-css/art1.png); */
        position: relative;
        margin-left: 2%;
        -webkit-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        -moz-box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
        box-shadow: 8px -5px 4px 2px rgba(136,136,136,0.75);
    }
    .m1:before {
        content: '';
        width: 18px;
        height: 224px;
        position: absolute;
        bottom: 96%;
        right: 2%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
    .m1:after {
        content: '';
        width: 17px;
        height: 215px;
        position: absolute;
        bottom: 103%;
        right: -3%;
        z-index: 3;
        background-size: 100%;
        background-position: bottom;
    }
        .column-1 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        /* height: 254px; */
    }
    .column-1:before {
        width: 18px;
        height: 224px;
        bottom: 96%;
        left: 4%;
        background-size: 100%;
        background-position: bottom;
    }
    .column-1:after {
        width: 18px;
        height: 217px;
        bottom: 103%;
        left: 9%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 {
        margin-top: 25%;
        position: relative;
        margin-left: 3%;
        float: left;
        width: 91px;
        -webkit-box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
        -moz-box-shadow:10px -7px 4px -3px rgba(136,136,136,0.75);
        box-shadow: 10px -7px 4px -3px rgba(136,136,136,0.75);
    }
    .m2:before {
        width: 18px;
        height: 372px;
        right: 11%;
        height: 152px;
        position: absolute;
        bottom: 99%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2:after {
        width: 23px;
        height: 148px;
        bottom: 100%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-2 {
        position: relative;
        -webkit-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px 15px 0px rgba(171,172,173,1);
    }
    .column-2:before {
        width: 18px;
        height: 156px;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }   
    .column-2:after {
        width: 26px;
        height: 156px;
        bottom: 99%;
        left: 14%;
        background-position: bottom;
        background-size: 100%;
    }
    .m2 img {
        width: 100%;
    }
    .m3 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        /* width: 180px; */
    }
    .m3:before {
        width: 18px;
        height: 147px;
        bottom: 99%;
        right: 10%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m3:after {
        width: 30px;
        height: 146px;
        position: absolute;
        bottom: 99%;
        right: -1%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:before {
        width: 18px;
        height: 145px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-3:after {
        width: 21px;
        height: 150px;
        position: absolute;
        bottom: 99%;
        left: 11%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while {
        padding: 1px 2px;
        min-height: 215px !important;
    
        width: 94px;
}
    .m3 img {
        width: 85%;
    }
    .m4 {
        margin-top: 23%;
        position: relative;
        margin-left: 3%;
        -webkit-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        -moz-box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
        box-shadow: 6px 5px -10px 0px rgba(171,172,173,1);
    }
    .m4:before {
        width: 18px;
        height: 144px;
        position: absolute;
        bottom: 99%;
        right: 11%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .m4:after {
        width: 18px;
        height: 148px;
        position: absolute;
        bottom: 98%;
        right: 4%;
        z-index: 3;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:before {
        width: 18px;
        height: 145px;
        position: absolute;
        bottom: 99%;
        left: 4%;
        background-position: bottom;
        background-size: 100%;
    }
    .column-4:after {
        width: 20px;
        height: 151px;
        position: absolute;
        bottom: 99%;
        left: 9%;
        background-position: bottom;
        background-size: 100%;
    }
    .bg-color-while.list-left li {
        float: left;
        margin: 0px 3px 4px;
        width: 43%;
    }
    .m4 img {
        width: 100%;
    }
}